// Skin - Login Cinépolis ID
// Gulpfile included :: Gulp render console: Gulp


@import 'nib'

body
	overflow: hidden
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased


.wrapper-id
	font-size: 12px

.log-in
	h2
		color: #fff;
		font-size: 1.52em;
		padding: .4em;
		text-align: left
		
		span
			font-size: 1.6em
			margin-top: -19px
			position: absolute
			right: 0.2em
			top: 50%
	
	.form
		padding: 1em 1em 0
		
		.entrar-con
			display: none
			
		.log-datos
			padding-bottom: 1em
			
			.campo
				label
					float: none;
					font-size: 1.2em;
					font-weight: 700;
					width: 100%;
				
				.pregunta
					background-color: #fff
					border: 1px solid #7fc8a2
					border-radius: 4px
					box-sizing: content-box
					color: #222
					height: 19px
					margin-bottom: 12px
					overflow: hidden
					padding: 6px 36px 6px 5px
					position: relative
					text-overflow: ellipsis
					white-space: nowrap
					
			input
				&[type="email"], &[type="text"] 
					font-weight: bold
				
				&[type="password"]
					border-radius: 0
					border-width: 0
					font-weight: bold
					margin: 0 0 0.6em
	
			nav
				a
					font-size: 1.2em;
					font-weight: 700;
				
				.large
					max-width: 280px
	
	.label
		font-size: 1em
		font-weight: 700
	
.log-in
	.form
		.log-datos nav > span
			font-size: 1.2em
			
							
nav
	.btn-input
		position: relative
		
.btn-id
	font-size: 1.2em;
	font-weight: 400;
	margin: 0;
	padding: 12px 0 12px;
	position: relative;
	text-shadow: 0 2px 0 rgba(0,0,0,0.1);
	text-transform: uppercase;
		
	
// Registro
#registro
	margin: 0
	padding: 0
	width: 100%
	
	h1
		background-color: #0B5BA1;
		color: #fff;
		display: block;
		margin: 0;
		padding: 0.6em;
	
	h4
		color: #9B9B9B;
		font-weight: 400;
		margin: 0;
		padding: .6em 1em;
		font-size: 1.1em;
		text-align: center;
	
	.form
		border-color: rgba(255, 255, 255, 0.2)
		margin: 0
		padding: 1em
	
	.btn-id
		&.registro
			display: block
			float: none
			font-size: 1.2em
			margin: 0 auto 0.6em
			min-width: 92%
			
	.campo
		label
			color: #9B9B9B;
			font-size: 1.2em
			font-weight: 700
			margin-bottom: 0.2em
		
		.selector
			padding: 0
			
			span
				background-color: #fff
				color: #222
				padding: 0 36px 0 0.6em
				top: 0
				width: 100% !important
				    
				&:after
					background-color: rgba(0, 0, 0, 0.1);
					content: "";
					height: 36px;
					position: absolute;
					right: 0;
					text-align: center;
					width: 36px;
				
				&:before
					background-image: url("//stage.cinepolis.com/trivia-vip/Content/img/icon-arrow-down.svg");
					background-repeat: no-repeat;
					content: "";
					height: 1em;
					margin-top: -2px;
					position: absolute;
					right: 12px;
					top: 50%;
					width: 1em;
		
		.row
			.id-col4
				margin-bottom: .6em
				margin-left: 2%
				width: 32%
				
				&:first-child
					margin-left: 0
	
	.campo.row
		padding: 0 1em

	// Inputs
	input
		&[type="text"], &[type="password"]
			color: #222;
			font-size: 1.2em;

	// Captcha
	.g-recaptcha
		position: absolute
		width: 304px;
		float: none;
		overflow: hidden;
		transform: translate(-1em) scale(.88);
		
		> div
			width: 304px
	
	iframe
		width: 304px !important 
	
	.form
		.captcha
			position: relative;
			width: 100%;
			float: none;
			margin: auto;
			height: 8em

		.aviso-priv
			padding: 1em
			width: 100%
			
			p
				font-size: 1em;
				padding: 0;
				width: calc(100% - 30px);
	
		.linea
			margin: 1em 0 0;
			padding: 1.2em 0 0;
			
			.btn-input
				margin-bottom: 1.4em;
				max-width: 200px;
				width: 100%;
				
				&:last-child
					margin-bottom: 0

