// Rotate
@keyframes spin
	from
		transform:rotate(0deg)
	to
		transform:rotate(360deg)

@keyframes arrhor
	0%
		margin-right: -5em
		opacity: 0

	100%
		margin-right: -4em
		opacity: 1

@keyframes arrver
	0%
		margin-top: -.2em
		opacity: 0

	100%
		margin-top: -1.2em
		opacity: 1

@keyframes arrvertop
	0%
		margin-right: -4em
		opacity: 0

	100%
		margin-right: -6.4em
		opacity: 1

@keyframes arrvermid
	0%
		margin-left: -4em
		opacity: 0

	100%
		margin-left: -6.4em
		opacity: 1

@keyframes arrvbot
	0%
		bottom: -1.4em
		opacity: 0

	100%
		bottom: 1.4em
		opacity: 1


@keyframes fadeInRightBig
	from
		transform: scale(0.2) translate3d(180%, 0, 0)

	to
		transform: none
		opacity: 1

@keyframes fadeInRight
	from
		opacity: 0
		transform: translate3d(-50%, 0, 0)

	to
		opacity: 1
		transform: none

@keyframes fadeInLeft
	from
		opacity: 0
		transform: translate3d(-50%, 0, 0)

	to
		opacity: 1
		transform: none

@keyframes fadeInUpSlw
	from
		transform: translate3d(0, 10%, 0);

	to
		transform: translate3d(0, 0, 0);
		opacity: 1

@keyframes heart
	from
		transform: scale(1.1)

	50%
		transform: scale(1)

	to
		transform: scale(1.1)

