// Rotate
@keyframes spin
	from
		transform:rotate(0deg)
	to
		transform:rotate(360deg)

@keyframes arrhor
	0%
		margin-right: -5em
		opacity: 0

	100%
		margin-right: -4em
		opacity: 1

@keyframes arrver
	0%
		margin-top: -.2em
		opacity: 0

	100%
		margin-top: -1.2em
		opacity: 1

@keyframes arrvertop
	0%
		margin-right: -4em
		opacity: 0

	100%
		margin-right: -6.4em
		opacity: 1

@keyframes arrvermid
	0%
		margin-left: -4em
		opacity: 0

	100%
		margin-left: -6.4em
		opacity: 1

@keyframes arrvbot
	0%
		bottom: -1.4em
		opacity: 0

	100%
		bottom: 1.4em
		opacity: 1


@keyframes fadeInRightBig
	from
		transform: scale(0.2) translate3d(180%, 0, 0)

	to
		transform: none
		opacity: 1

@keyframes fadeInRight
	from
		opacity: 0
		transform: translate3d(-50%, 0, 0)

	to
		opacity: 1
		transform: none

@keyframes fadeInLeft
	from
		opacity: 0
		transform: translate3d(-50%, 0, 0)

	to
		opacity: 1
		transform: none

@keyframes fadeInUpSlw
	from
		transform: translate3d(0, 10%, 0);

	to
		transform: translate3d(0, 0, 0);

@keyframes fadeInUp
	from
		opacity: 0;
		transform: translate3d(0, 50%, 0);

	to
		opacity: 1;
		transform: translate3d(0, 0, 0);

@keyframes fadeOutUp
	from
		opacity: 1;

	to
		opacity: 0;
		transform: translate3d(0, -50%, 0);

@keyframes fadeOutLeft
	from
		opacity: 1;

	to
		opacity: 0;
		transform: translate3d(-100%, 0, 0);


@keyframes anm-01
	0%
		transform: translate(-15em, 2.3em)

	100%
		transform: none
		opacity: 1

@keyframes anm-02
	0%
		transform: translate(-18em, 3em)

	100%
		transform: none
		opacity: 1

@keyframes anm-03
	0%
		transform: translate(-34em, 5.3em)

	100%
		transform: none
		opacity: 1

@keyframes anm-04
	0%
		transform: translate(-40em, 6.4em)

	35%
		opacity: 0

	40%
		opacity: 1

	45%
		opacity: 0

	50%
		opacity: 1

	55%
		opacity: 0

	60%
		opacity: 1

	65%
		opacity: 0

	70%
		opacity: 1

	75%
		opacity: 0

	80%
		opacity: 1

	85%
		opacity: 0

	90%
		opacity: 1

	95%
		opacity: 0

	100%
		transform: none
		opacity: 1

@keyframes anm-05
	0%
		transform: translate(-23em, 3.6em)

	100%
		transform: none
		opacity: 1

@keyframes anm-06
	0%
		transform: translate(-29em, 4.2em)

	100%
		transform: none
		opacity: 1

@keyframes anm-07
	0%
		transform: none
		opacity: 1

	100%
		transform: translate(-4em, -2em) scale(1.18)

@keyframes anm-08
	0%
		transform: translate(-20em, -2em) scale(.5)

	100%
		transform: none
		opacity: 1

@keyframes anm-09
	0%
		transform: translate(-125%, 0) scale(.2)

	100%
		transform: none
		opacity: 1
