// Colors

// Solid Colors
$base = #000
$redf = #FC1010

// Selections
::selection
	background: #6c5ce7
	color: #FFF
	text-shadow: none

::-moz-selection
	background: #6c5ce7
	color: #FFF
	text-shadow: none
