// Buttons
.ap
	&-btn
		&-tag
			color: #FFF
			display: block
			border-radius: 1em
			padding: 0.4em
			max-width: 4em
			text-align: center
			border: 1px solid $redf

			&--selected
				background-color: rgba(#2ecc71, .8)

		&--pay
			border-radius: 1em;
			border: 1px solid $redf;
			color: #FFF
			display: block;
			max-width: 12em;
			padding: .4em 1.8em .4em 1em
			position: relative;
			text-align: center;
			text-transform: uppercase;
			width: 100%

			&:before
				animation: 1s heart cubic-bezier(0.42,0,0.58,1) infinite
				line-height: 1.4em;
				margin-right: -4em;
				position: absolute;
				right: 50%;
				color: $redf
