{% extends "layout.html" %}
{% set title = 'Inicio' %}
{% set page = 'home' %}

{% block content %}
		<section class="ap-home ap-lay">
			<div class="ap-table">
				<div class="ap-cell">
					<div class="ap-area">
						<h1 class="ap-tt">
							<small class="ap-tt--small">Rising</small>
							<!-- The Phoenix -->
						</h1>
						<div class="ap-hm-cta">
							<figure class="ap-img">
								<!-- <img src="/Content/img/img-front.png" alt="Phoenix Survive The Hurricane" class="ap-img-itm"> -->
							</figure>
							<a href="" class="ap-btn ap-btn--play">
								<span class="icon-controller-play"></span>
								Dale Play
							</a>
						</div>

						<nav class="ap-nav">
							<a href="#" class="ap-btn ap-btn--pay icon-heart">Contribuir</a>
							<small class="ap-txt--small">Powered by Paypal</small>
						</nav>
					</div>
				</div>
			</div>
		</section>
{% endblock content %}

{% block js %}
{% endblock %}

