{% extends "layout.html" %}
{% set title = 'Inicio' %}
{% set page = 'home' %}

{% block content %}
		<section class="ap-home ap-lay">
			<div class="ap-table">
				<div class="ap-cell">
					<div class="ap-area">
						<div class="ap-hm-cta">
							<h1 class="ap-tt">
								<small class="ap-tt--small">Rising</small>
								<span>The Phoenix</span>
							</h1>
							<figure class="ap-img">
								<img src="/Content/img/img-front.png" alt="Phoenix Survive The Hurricane" class="ap-img-itm">
							</figure>
							<a href="#ap-modal--video" class="ap-btn ap-btn--play ap-mol">
								<span class="icon-controller-play"></span>
								<span>Dale Play</span>
							</a>
						</div>

						<p class="ap-txt">
							<span class="ap-txt--red">¡Hola! Somos PSTH y necesitamos de ti.</span> ayudanos a alcanzar nuestro sueño. Da play y checa nuestra propuesta de <strong>croudfounding</strong>
						</p>

						<nav class="ap-nav">
							<a href="#ap-modal--data" class="ap-btn ap-btn--pay icon-heart ap-mol">Contribuir</a>
							<small class="ap-txt--small">Powered by Paypal</small>
						</nav>
					</div>
				</div>
			</div>
			<div class="ap-contributed">
				<div class="ap-table">
					<div class="ap-cell">
						<div class="ap-contributed-heart icon-heart"></div>
					</div>
				</div>
			</div>
		</section>
{% endblock content %}

{% block js %}
		<script src="https://www.youtube.com/iframe_api" async="" ></script>
{% endblock %}

