// Premios Cinépolis 2018
// Gulpfile included :: Gulp render console: Gulp

@import 'nib'
@import 'components/cmps.colors'

$prinFont = 'Muli', sans-serif
$subFont = 'Muli', sans-serif

html, body
	height: 100%

body
	background: url('../img/img-bg.jpg') center center no-repeat
	background-size: cover
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: #000
	font-family: $prinFont
	font-size: 12px
	font-weight: normal
	overflow-x: hidden
	position: relative

	&:before
		background-color: rgba(0, 0, 0, .75)
		content: ''
		width: 100%
		height: 100%
		position: absolute
		pointer-events: none

	+above(1026px)
		font-size: 13px

	@media screen and (max-height: 720px) and (min-width: 1280px) and (max-width: 1440px)
		font-size 11px

	+above(1560px)
		font-size: 14px

	+above(1900px)
		font-size: 16px

// Tools
@import 'components/cmps.normalizr'
@import 'components/cmps.grid'

// Components
@import 'components/cmps.fonts'
@import 'components/cmps.text-formating'
@import 'components/cmps.buttons'
@import 'components/cmps.scrollbar'
@import 'components/cmps.animation'
@import 'components/cmps.form'
@import 'components/cmps.uniform'

// Vendors

// Layout
@import 'layout/lay.layout'
@import 'layout/lay.modal'
@import 'layout/lay.loader'

@import 'layout/lay.devices'

// Pages
@import 'pages/page.elements'
@import 'pages/page.home'



