<article id="ap-modal--data" class="ap-overlay ap-modal--data ap-modal--is-visible">
			<div class="ap-table">
				<div class="ap-cell">
					<div class="ap-md-area ap-modal ap-data">
						<a href="#" class="icon-left ap-modal-close ap-btn-close">Ver video</a>

						<h1 class="ap-tt">
							<small class="ap-tt--small">La meta</small>
							<span class="ap-tt ap-js--num">$10,000</span>
						</h1>

						<div class="ap-dash cf">
							<div class="ap-dash-lf">
								<p class="ap-txt ap-txt--nu">$1000</p>
								<p class="ap-txt">Meta</p>
							</div>
							<div class="ap-dash-bar">
								<span class="ap-dash-bar--progress">
									<span class="ap-dash-bar--progress-in"></span>
								</span>
							</div>
							<div class="ap-dash-rg">
								<p class="ap-txt ap-txt--nu">10K</p>
								<p class="ap-txt">Alcanzado</p>
							</div>
						</div>

						<nav class="ap-pay-opt">
							<div class="cf">
								<a href="#" class="ap-btn-tag" data-value="50">$50</a>
								<a href="#" class="ap-btn-tag" data-value="100">$100</a>
								<a href="#" class="ap-btn-tag" data-value="200">$200</a>
								<a href="#" class="ap-btn-tag ap-btn-tag--selected" data-value="500">$500</a>
							</div>

							<input type="text" class="ap-form-txt" placeholder="más? escribe otra cantidad">

							<a href="#" class="ap-btn ap-btn--pay icon-heart">Contribuir</a>
							<small class="ap-txt--small">Powered by Paypal</small>
						</nav>
					</div>
				</div>
			</div>
		</article>
