<!-- layout.nunjucks -->
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="keywords" content="">
	<link rel="shortcut icon" href=@Url.Content("~/favicon.ico") type="image/x-icon" />
	<link rel="apple-touch-icon" href=@Url.Content("~/apple-touch-icon.png") />
	<link rel="apple-touch-icon" sizes="57x57" href=@Url.Content("~/apple-touch-icon-57x57.png") />
	<link rel="apple-touch-icon" sizes="72x72" href=@Url.Content("~/apple-touch-icon-72x72.png") />
	<link rel="apple-touch-icon" sizes="76x76" href=@Url.Content("~/apple-touch-icon-76x76.png") />
	<link rel="apple-touch-icon" sizes="114x114" href=@Url.Content("~/apple-touch-icon-114x114.png") />
	<link rel="apple-touch-icon" sizes="120x120" href=@Url.Content("~/apple-touch-icon-120x120.png") />
	<link rel="apple-touch-icon" sizes="144x144" href=@Url.Content("~/apple-touch-icon-144x144.png") />
	<link rel="apple-touch-icon" sizes="152x152" href=@Url.Content("~/apple-touch-icon-152x152.png") />
	<link rel="apple-touch-icon" sizes="180x180" href=@Url.Content("~/apple-touch-icon-180x180.png") />

	<!-- // Facebook -->
	<meta property="og:url" content="http://psthband.com/" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Phoenix Survived the Hurricane" />
	<meta property="og:description" content="¿A caso crees que puedes detenerlo? Hola nosotros somos PSTH y necesitamos de tu apoyo, da clic en el link y checa nuestra propuesta de crowdfunding." />
	<meta property="og:image" content="http://psthband.com/Content/img/img-fbshare.jpg" />

	<title>PSTH</title>

	<!-- Css -->
	<link href="http://fonts.googleapis.com/css?family=Muli:300,400,900" rel="stylesheet">
	<link rel="stylesheet" href=@Url.Content("~/Content/css/psth-master.css")>
	<link href="~/Content/sweetalert2.min.css" rel="stylesheet" />

</head>
<body class="ap" ontouchstart="">
	<main class="ap-main ap-loading">
		@RenderBody()
	</main>
	<!-- // Scripts -->
	<script src=@Url.Content("~/Scripts/jquery-1.10.2.min.js")></script>
	<script src="https://www.youtube.com/iframe_api" async=""></script>
	<script src=@Url.Content("~/Scripts/jquery.vendors.js")></script>
	<script src=@Url.Content("~/Scripts/actions/jquery.actions.js")></script>
	<script src="~/Scripts/sweetalert2.min.js"></script>
	@RenderSection("scripts", false)<!-- Block scripts -->

	</body>
</html>
