.ap

	// Home
	&-hm
		&-cta
			position: relative

			+above(1000px)
				font-size: .94em

	&-tt
		font-size: 2em
		letter-spacing: 4.2px;
		line-height: .6em
		margin-top: -3.4em;
		position: absolute;
		top: 50%;
		width: 100%;
		z-index: -1;

		+above(760px)
			font-size: 5.6em;

		&--small
			display: block;
			font-size: 0.5em;
			font-weight: 300;
			margin-bottom: 0.2em;
			opacity: 0

		span
			opacity: 0
			display: block

	&-img
		max-width: 68em
		margin: auto
		opacity: 0

		@media screen and (min-width: 480px) and (max-width: 760px)
			max-width: 26em

		img
			width: 100%

	&-btn--play
		color: #fff
		font-size: 0.9em
		left: 50%
		margin-left: -3em
		margin-top: -1em
		position: absolute
		top: 50%

		&:before
			background: rgba(0,0,0,.8)
			content: ''
			filter: blur(1em)
			height: 100%
			position: absolute
			width: 100%
			z-index: 1

		+above(760px)
			font-size: 1.3em
			margin-left: -3.4em

		.icon-controller-play
			background-color: rgba(255,255,255,0.4);
			border-radius: 10em;
			border: .1em solid #fc1010;
			display: block;
			height: 2em;
			width: 2em;
			text-align: center;
			color: #fc1010;
			font-size: 2em;
			line-height: 2em;
			margin: 0 auto 0.2em;

		span
			position: relative
			z-index: 2

	&-txt
		display: block;
		margin: -1em auto 1em;
		max-width: 30em;
		text-align: center;

		&--red
			color: $redf

	&-nav
		text-align: center

		.ap-btn
			display: inline-block
			margin-bottom: .6em

	// Data
	&-data
		max-width: 42em
		margin: auto
		position: relative

		.ap-tt
			font-weight: 700
			font-size: 1.8em
			position: relative

			+above(760px)
				font-size: 5em;
				margin: 0;

			&--small
				font-weight: 300
				color: $redf
				display: block


	&-dash
		padding: 0 1em

		&-lf, &-rg
			float: left

		&-lf
			width: 6em

		&-rg
			width: 4.2em

		&-bar
			float: left;
			width: calc(100% - 12.2em);
			margin: 0 1em 0 1em;

			&--progress
				height: .8em
				background-color: rgba(255, 255, 255, .75)
				width: 100%
				display: block
				border-radius: 10em

				&-in
					background-color: $redf
					height: 100%
					border-radius: 10em
					width: 50%
					display: block


	&-pay
		&-opt
			text-align: center

			.ap-btn-tag
				display: inline-block
				margin-right: .6em
				width: 100%

				&:last-child
					margin: 0

			.ap-btn--pay
				display: inline-block
				width: 100%
				margin-bottom: 1em

			.ap-form-txt
				margin-bottom: 1em;
				max-width: 15em;
				text-align: left;

				&::placeholder
					font-size: .8em

			.cf
				margin: 2em 0

	&-bandcamp
		font-size: 1em;
		padding: 1em 0;
		width: 100%;
		max-width: 18em;
		margin: 1em auto;

// Fires animations
.ap-main--ready
	.ap-tt
		small
			animation: 1s fadeInUpSlw .6s both cubic-bezier(0.4, 0, 0.6, 1);

		span
			animation: 1s fadeInUpSlw .8s both cubic-bezier(0.2, 0, 0.6, 1);

	.ap-img
		animation: 2s fadeInUpSlw 1s both cubic-bezier(0.2, 0, 0.6, 1);


