////////////////////////////////////////////
.ap
	&-devices
		position: absolute
		z-index: 300000
		top: 0
		left: 0
		bottom: 0
		right: 0

	&-devi
		border: 2px solid red
		border-radius: .6em
		position: absolute
		left: 50%
		top: 50%

		&-phone
			position absolute

		&-ipod
			height: 480px
			margin: auto
			width: 480px

		&--ipod
			height: 480px;
			width: 320px;
			margin-left: -11.4em;
			margin-top: -17.2em;

			&-land
				height: 320px;
				width: 480px;
				margin-left: -17.2em;
				margin-top: -11.4em;

		&--and
			height: 640px;
			margin-left: -12.8em;
			margin-top: -22.8em;
			width: 360px;

			&-land
				width: 640px;
				height: 360px;
				margin-left: -22.8em;
				margin-top: -12.8em;

		&--ipx
			width: 375px
			height: 734px
			margin-left: -13.4em;
			margin-top: -26.2em;

			&-land
				width: 734px
				height: 375px
				margin-left: -26.2em;
				margin-top: -13.4em;

		&--andx
			width: 412px;
			height: 684px;
			margin-left: -14.7em;
			margin-top: -24.4em;

			&-land
				width: 684px
				height: 412px
				margin-left: -24.4em;
				margin-top: -14.7em;


	&-lay
		&-grid
			position: absolute
			z-index: 1
			pointer-events: none
			width: 100%
			height: 100%
			left: 0
			top: 0

		&-x
			background-color: red
			height: 1px;
			width: 100%;
			position: absolute;
			top: 50%;

		&-y
			background-color: red
			height: 100%
			width: 1px
			margin: auto
