.ap
	&-overlay
		background-color: rgba(0, 0, 0, .95)
		display: none
		height: 100%;
		position: fixed;
		top: 0;
		width: 100%;
		left: 0
		z-index: 22;

		&-table
			display: inline-table
			height: 100%
			width: 100%

		&-load
			margin: auto;
			max-width: 310px;
			padding: .5em;
			position: relative;

			+above(768px)
				max-width: 600px

		&-cell
			display: table-cell
			vertical-align middle

		&-area
			margin: auto;
			max-width: 90%
			position: relative;

			+above(760px)
				max-width: 42em

			@media only screen and (min-width: 480px) and (max-width: 740px) and (orientation: landscape)
				max-width: 72%;

		&-head
			padding: 1em

		&-landscape
			margin-top: 9em
			margin: auto;
			max-width: 310px;
			padding: .5em;
			position: relative;

			+above(768px)
				max-width: 600px

		.ap-md
			&-nav
				padding: 0 1em 1em
				text-align: center

				.ap-btn
					display: block
					margin: auto

	&-modal
		.ap
			&-tt
				font-size: 3em;
				font-weight: 700;
				margin-bottom: .4em;
				padding: 1.6em 0 .8em;
				color: #fff;
				text-transform: uppercase;
				text-align: center;

				&-third
					color: $black
					font-size: 1.1em
					margin-bottom: .6em
					text-align center

			&-btn
				&-close
					color: #fc1010;
					font-size: 2.4em;
					line-height: 1.5em;
					position: absolute;
					top: -0.6em;
					right: 0.3em;

					+above(1000px)
						font-size: 2.8em;
						top: -1.2em;
						right: -1.2em;

			&-js--num-animated
				display inline-block

		&--video
			.ap-tube
				max-width: 25em
				margin: auto;
				position: relative

				iframe
					width: 100%

				+above(760px)
					max-width: 53em

		&--data
			.ap-btn-close
				right: auto;
				left: 1em;
				font-size: 1em;

				&-vid
					color: $redf
					position: absolute;
					top: -.6em;
					left: 1em;

		&--is-visible
			display: block

			.ap-overlay
				&-table
					opacity: 1
					position: relative
					z-index: 1

#closeLogin
	width: 40px
	height: 40px
	position: absolute
	right: 10px
	top: 10px
	border-radius: 20px
	border 2px solid white
	transform: rotate(45deg)
	&:before,
	&:after
		content ''
		position absolute
		display block
		background white

	&:before
		width: 2px;
		height: 24px;
		border-radius: 2px;
		left: calc(50% - 1px);
		top: calc(50% - 12px);
	&:after
		width: 24px;
		height: 2px;
		border-radius: 2px;
		left: calc(50% - 12px);
		top: calc(50% - 1px);


.ap-contributed
	display: none
	position: fixed;
	z-index: 24;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
	left: 0;
	text-align: center;
	top: 0;
	color: red;
	font-size: 8em;

	&-heart
		animation: 1s heart cubic-bezier(0.42,0,0.58,1) infinite
