.ap
	// Loading
	&-load

		&-area
			color: #FFF
			max-width: 10em
			margin: auto
			text-align: center

			.ap-txt
				margin-top: 1.6em
				font-size: 1.4em
				color: #FFF
				font-family: $prinFont

		&-item
			height: 10em;
			line-height: 9.2em;
			position: relative;
			text-align: center;
			width: 10em;
			font-size: .8em;
			margin: auto;

			img
				width: 84%

